.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

/*just applies to divs inside grid*/
.grid div {
  height: 20px;
  width: 20px;
  background-color: red;
}
